<nav>
    <ul style="display:flex; gap:20px; list-style:none; padding:10px; background:#eee;">
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'employee-list' %}">Employees</a>
        </li>
        <li>
            <a href="{% url 'employee-create' %}">Add Employee</a>
        </li>
        <li>
            <a href="{% url 'shift-list' %}">Shifts</a>
        </li>
        <li>
            <a href="{% url 'shift-create' %}">Add Shift</a>
        </li>
        <li>
            <a href="#">Leave Requests</a>
        </li>
        <li>
            <a href="#">Holidays</a>
        </li>

    </ul>
</nav>