{% extends 'base.html' %}
{% load custom_filters %}

{% block title %}Employees{% endblock %}

{% block content %}
    <div class="page-card">
        <h1>Employees</h1>

        <div class="action-links">
            <a href="{% url 'employee-create' %}">Add Employee</a>
        </div>

        {% if employees %}
            <ul class="data-list">
                {% for employee in employees %}
                    <li>
                        <a href="{% url 'employee-detail' employee.pk %}">
                            {{ employee|full_name }}
                        </a>
                        - {{ employee.job_title }} ({{ employee.department.name }})
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No employees added yet.</p>
        {% endif %}
    </div>
{% endblock %}